<!-- <p>job-posting-form works!</p> -->
<h2>Create Job Posting</h2>

<div class="jumbotron container">
    <form [formGroup]="jobPostingForm" (ngSubmit)="submitJobPosting()">
        <label for="title">Job Title</label>
        <input id="title" >

        <label for="department">Department</label>
        <input id="department" >

        <label for="location">Location</label>
        <input id="location" >

        <label for="responsibilities">Responsibilities</label>
        <textarea id="responsibilities"></textarea>

        <label for="qualifications">Qualifications</label>
        <textarea id="qualifications"></textarea>

        <label for="applicationDeadline">Application Deadline</label>
        <input id="applicationDeadline" >

        <button type="submit">Submit</button>

    </form>
</div>
